@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    background:url("http://getwallpapers.com/wallpaper/full/3/9/d/594562.jpg") no-repeat bottom right fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

                /* Header */

.h5 {
    color: rgba(252, 190, 56, 0.98);
    text-decoration: none;
}
.h6 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.95)!important;
}

                /* Links */

a:link {
    color: rgba(238, 170, 78, 0.95);
    text-decoration: none;
}
a:visited {
    color: rgba(185, 128, 62, 0.98);
    text-decoration: none;
}
a:hover {
    color: rgba(247, 214, 144, 0.98);
    text-decoration: none;
}

                /* Section */

.transbox {
    background-color: rgba(0, 0, 0, 0.3)!important;
    width: 100%;
    height: 100%;
}

                /* Navbar */

.navbar-nav {
    height: auto;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9)!important;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4 ease-in-out;
    -o-transition: all 0.4 ease-in-out;
}
.nav-link {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgba(238, 170, 78, 0.90)!important;
}
.nav-link:hover {
    font-size: 17px;
    font-weight: bolder;
    color: rgba(252, 218, 127, 0.95)!important;
}
.navbar-toggler {
    margin-bottom: 20px;
    margin-right: 5px;
}
#navbarNavDropdown {
    padding-bottom: 5px;
}

                /*Home*/

.carousel-item, h2 {
    color: rgba(231, 153, 49, 0.98)
}
.carousel-name {
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 3%;
}

                /*Engineer*/

.about-colum1 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 25px;
    padding-left: 25px;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(250, 250, 250, 0.9)!important;
    background-color: rgba(0, 0, 0, 0.85);
}
.about-colum2 {
    padding-top: 40px;
    padding-bottom: 40px;
    vertical-align: middle;
    text-align: center;
    border-radius: 1%;
}


                /*Portfolio*/

.portfolio-container {
    background-color: rgba(0, 0, 0, 0.9);
}
.text-block-portfolio {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.text-block-portfolio a i {
    width: 15px;
    height: 15px;
    padding-right: 20px;
    border-radius: 40%;
    font-size: 15px;
    text-align: left;
    color: rgba(250, 250, 250, 0.98)!important;
    background-color: rgba(248, 227, 108, 0.18)!important;
}

                /*Studio*/


.studio-colum1 {
    padding-top: 40px;
    padding-bottom: 40px;
    vertical-align: middle;
    text-align: center;
    border-radius: 1%;
}
.studio-colum2 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 25px;
    padding-left: 25px;
    vertical-align: middle;
    font-size: 14px; 
    color: rgba(250, 250, 250, 0.9)!important;
    background-color: rgba(0, 0, 0, 0.8);
}

                /*Prices*/


.prices-colum1 {
    margin: 10% 0% 10% 0%;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 15px;
    color: rgba(250, 250, 250, 0.9)!important;
    background-color: rgba( 0, 0, 0, 0.85);
}
.prices-colum2 {
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    font-size: 13px;
    color: rgba(250, 250, 250, 0.9)!important;
}
.prices-colum3 {
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    font-size: 13px;
    color: rgba(250, 250, 250, 0.9)!important;
}
.prices-colum4 {
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    font-size: 13px;
    color: rgba(250, 250, 250, 0.9)!important;
}
.price-header {
    color: rgba(238, 170, 78, 0.95)
}

                /*Booking*/

.booking-colum1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30;
    padding-left: 30;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(250, 250, 250, 0.9)!important;
    background-color: rgba(0, 0, 0, 0.85);
}
.form-row {
    color: rgba(250, 250, 250, 0.9)!important;
}
.btn-primary {
    margin-left: 4em;
    font-size: 14px;
    color: rgba(238, 170, 78, 0.98);
    border-radius: 13%;
    background-color: rgba(145, 144, 142, 0.38)!important;
    border-color:  rgba(145, 145, 145, 0.68);
}
.btn-primary:hover {
    font-size: 15px;
    background-color: rgba(145, 144, 142, 0.38)!important;
    border-color:  rgba(145, 145, 145, 0.68);
}
.form-text {
    font-size: 12px;
}

                /*Modal*/

.modal-header {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: 14px;
    background-color: rgba(70, 70, 70, 0.96)    
}

.modal {
    background-color: rgba(95, 95, 95, 0.38)!important;
    border-color:  rgba(230, 227, 227, 0.68);
}
.modal-content {
    font-size: 14px;
    color: rgba(238, 170, 78, 0.98);
    background-color: rgba(50, 50, 50, 0.96)
}
.no-tracks {
    font-size: 14px;
    color: rgba(233, 190, 105, 0.95)!important;
}
.col-form-label {
    font-size: 13px;
    color: rgba(238, 170, 78, 0.98);
    background-color: rgba(50, 50, 50, 0.96)
}
.custom-radio {
    font-size: 13px;
    color: rgba(238, 170, 78, 0.98);
    background-color: rgba(50, 50, 50, 0.96)
}
.modal-footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 14px;
    background-color: rgba(70, 70, 70, 0.96) 
}
.btn-secondary {
    font-size: 14px;
    color: rgba(238, 170, 78, 0.98);
    border-radius: 13%;
    background-color: rgba(167, 166, 165, 0.38)!important;
    border-color:  rgba(158, 157, 157, 0.68);
}
.btn-secondary:hover {
    font-size: 15px;
    background-color: rgba(145, 144, 142, 0.38)!important;
    border-color:  rgba(145, 145, 145, 0.68);
}

                /*Contact*/

.contact-colum1 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 30px;
    font-size: 14px;
    color: rgba(250, 250, 250, 0.9)!important;
    background-color: rgba(0, 0, 0, 0.8);
}
.contact-colum2 {
    padding-top: 40px;
    padding-bottom: 40px;
    vertical-align: middle;
    text-align: center;
}

                /* Footer */

.footer {
    position: relative;
    width: 100%;
    height: 450px;
    padding-top: 20px;
    padding-bottom: 3px;
    background-color: rgba(0, 0, 0, 0.9)!important;
    color: rgba(250, 250, 250, 0.9)!important;
}
.footer-address {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
}
.contact {
    font-size: 15px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 12px;
}
.social-links {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
.social-links li a i {
    width: 25px;
    height: 25px;
    border-radius: 40%;
    font-size: 25px;
    color: #fbfbfb;
    background-color: rgba(248, 227, 108, 0.18);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4 ease-in-out;
    -o-transition: all 0.4 ease-in-out;
}
.copyright {
    width: 100%;
    height: 25px;
    text-align: center;
}