
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');


body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT87-Zoqt5xKH0EflqA4PQ8j0-33uexVTBShw&usqp=CAU") no-repeat bottom right fixed;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.h5 {
    color: rgba(252, 190, 56, 0.98);
    text-decoration: none;
}
.h6 {
    font-weight: bold;
    color: rgba(250, 250, 250, 1.0);
}
a:link {
    color: rgba(238, 170, 78, 0.95);
    text-decoration: none;
}
a:visited {
    color: rgba(185, 128, 62, 0.98);
    text-decoration: none;
}
a:hover {
    color: rgba(247, 214, 144, 0.98);
    text-decoration: none;
}

                /* Section */

.transbox {
    background-color: rgba(3, 3, 3, 0.3)!important;
    
    width: 100%;
    height: 100%;
}
                /* Navbar */

.navbar-nav {
    height: auto;
    justify-content: space-between;
    padding-bottom: 0px;
    padding-left:0px;
    padding-right: 0px;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8)!important;
  
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4 ease-in-out;
    -o-transition: all 0.4 ease-in-out;
}
.navbar-brand {
    padding-left: 0px;
    margin-bottom: 12px;
}
.navbar-expand-lg {
    margin-top: 30px;
}
.nav-link {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgba(238, 170, 78, 0.90)!important;
    background-color: rgba(0, 0, 0, 0.8)!important;
    

}
.nav-link:hover {
    font-size: 17px;
    font-weight: bolder;
    color: rgba(252, 218, 127, 0.95)!important;
}
.navbar-toggler {
    margin-bottom: 20px;
    margin-right: 5px;
}
#navbarNavDropdown {
    padding-bottom: 20px;
}

                /*Home*/
.carousel-item, h2 {
    font-style: bolder;
    color: rgba(231, 153, 49, 0.98)
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.8);
    width: 50px;
    height: 20px;
}



                /*Engineer*/


.about-colum1 {
    margin: 0% 1% 0% 1%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.95)!important;
    background-color: rgba(0, 0, 0, 0.7);
}
.about-colum2 {
    margin: 8% 0% 0% 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
    text-align: center;
}


                /*Portfolio*/

.portfolio-container {
    background-color: rgba(0, 0, 0, 0.9);
}
.text-block-portfolio {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.text-block-portfolio a i {
    width: 15px;
    height: 15px;
    padding-right: 20px;
    border-radius: 40%;
    font-size: 15px;
    text-align: left;
    color: #fbfbfb;
    background-color: rgba(248, 227, 108, 0.18)!important;
}

                /*Studio*/


.studio-colum1 {
    margin: 0% 0% 0% 0%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 2%;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.02);
}
.studio-colum2 {
    margin: 0% 4% 0% 0%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 14px; 
    color: rgba(252, 251, 249, 0.95)!important;
    background-color: rgba(0, 0, 0, 0.8);
}


                /*Prices*/

.container-prices {
    margin: 0% 0% 0% 0%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.8);
}
.prices-colum1 {
    margin: 0% 1% 0% 1%;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(255, 254, 253, 0.95)!important;
    background-color: rgba( 0, 0, 0, 0.8);
}
.prices-colum2 {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 14px;
   color: rgba(255, 254, 253, 0.95)!important;
    background-color: rgba( 0, 0, 0, 0.8);
}
.prices-colum3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(255, 254, 253, 0.95)!important;
    background-color: rgba( 0, 0, 0, 0.8);
}
.prices-colum4 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(255, 254, 253, 0.95)!important;
    background-color: rgba( 0, 0, 0, 0.8);
}


.price-header {
    color: rgba(238, 170, 78, 0.95)
}

                /*Booking*/

container-booking {
    margin: 0% 3% 0% 3%;
    border-color: rgba(252, 190, 56, 0.98);
    border-radius: 3%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 70px;
    color: rgba(255, 254, 253, 0.95)!important;
    background-color: rgba( 0, 0, 0, 0.8);
}
.booking-colum1 {
    margin: 2% 3% 5% 3%;
    border-color:  rgba(252, 131, 131, 0.986);
    border-radius: 4%;
    border-bottom-width: 4px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(253, 252, 250, 0.95)!important;
    background-color: rgba(0, 0, 0, 0.92);
}
.form-row {
    margin-top: 20px;
    margin-left: 20px;
    color: rgba(250, 250, 245, 0.95)!important;
}
.btn-primary {
    font-size: 14px;
    color: rgba(238, 170, 78, 0.98);
    margin-left: 80px;
    border-radius: 15%;
    background-color: rgba(145, 144, 142, 0.38)!important;
    border-color:  rgba(145, 145, 145, 0.68);
}
.btn-primary:hover {
    font-size: 13px;
    background-color: rgba(145, 144, 142, 0.38)!important;
    border-color:  rgba(145, 145, 145, 0.68);
}
.form-text {
    font-size: 12px;
}

                /*Modal*/
.modal {
    border: 40px;
    border-radius: 2%;
    background-color: rgba(5, 5, 5, 0.38)!important;
    border-color:  rgba(230, 227, 227, 0.68);
}
.modal-content {
    border: 4px;
    border-radius: 2;
    font-size: 14px;
    color: rgba(238, 170, 78, 0.98);
    background-color: rgba(50, 50, 50, 0.96)
}
.no-tracks {
    font-size: 14px;
    color: rgba(233, 190, 105, 0.95)!important;
}
.col-form-label {
    font-size: 13px;
    color: rgba(238, 170, 78, 0.98);
    background-color: rgba(50, 50, 50, 0.96)
}
.custom-radio {
    font-size: 13px;
    color: rgba(238, 170, 78, 0.98);
    background-color: rgba(50, 50, 50, 0.96)
}
.modal-footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 14px;
    background-color: rgba(60, 60, 60, 0.96)
}
.btn-secondary {
    font-size: 14px;
    color: rgba(238, 170, 78, 0.98);
    border-radius: 15%;
    background-color: rgba(145, 144, 142, 0.38)!important;
    border-color:  rgba(145, 145, 145, 0.68);
}
.btn-secondary:hover {
    font-size: 13px;
    background-color: rgba(145, 144, 142, 0.38)!important;
    border-color:  rgba(145, 145, 145, 0.68);
}


                /*Contact*/

.contact-colum1 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(253, 252, 250, 0.9)!important;
    background-color: rgba(0, 0, 0, 0.92);
}
.contact-colum2 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
    text-align: center;
    border-radius: 2%;
}


                /* Footer */

.footer {
    position: relative;
    width: 100%;
    height: 450px;
    padding-top: 20px;
    padding-bottom: 3px;
    background-color: rgba(0, 0, 0, 0.94)!important;
    color: rgba(250, 250, 250, 0.9)!important;
}
.footer-address {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
}
.contact {
    font-size: 15px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 12px;
}
.social-links {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
.social-links li a i {
    width: 25px;
    height: 25px;
    padding: 0px 0px 0px 0px;
    border-radius: 40%;
    font-size: 25px;
    color: #fbfbfb;
    background-color: rgba(248, 227, 108, 0.18);

    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4 ease-in-out;
    -o-transition: all 0.4 ease-in-out;
}
.copyright {
    width: 100%;
    height: 25px;
    text-align: center;
}