
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');


body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
    background:url("../images/studio.jpg") no-repeat bottom right fixed;
    background-size: cover;
    color: rgba(0, 0, 0, 0.95);
    position: cover;
    display: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.h5 {
    color: rgba(250, 250, 250, 0.9);
}

                /* Section */

.transbox {
    background-color: rgba(0, 0, 0, 0.75)!important;
    column-width: center;
}
                /* Navbar */

.navbar {
    height: 75px;
    padding-bottom: 6px;
    padding-left:0px;
    padding-right: 0px;
    background-color: rgba(0, 0, 0, 0.85)!important;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4 ease-in-out;
    -o-transition: all 0.4 ease-in-out;
}
img.logo {
    width: 145px;
    padding-left: 10px;
    padding-top: 0px;
}
.text-wrap {
    padding-top: 0px;
    padding-left: 8px;
    font-size: 18px;
    color: rgba(250, 250, 250, 0.9);
}
.navbar-header {
    position: center fixed;
}
.navbar-expand-md {
    margin: 0px;
}
.nav-item {
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 16px;
    color: rgba(250, 250, 250, 0.7);
}

                /*Home*/

.home-colum1 {
    padding-top: 20px;
    padding-bottom: 10px;
    display: auto;
    margin: auto;
    vertical-align: middle;
    padding-left: 30px;
    font-weight: normal;
    color: rgba(250, 250, 250, 0.95)!important;
}
.carousel {
    vertical-align: middle;
    padding-left: 0px;
}
.home-colum2 {
    padding-top: 20px;
    padding-bottom: 10px;
    display: auto;
    margin: auto;
    vertical-align: middle;
    padding-left: 30px;
    font-weight: normal;
    color: rgba(250, 250, 250, 0.95)!important;
}
                /*About*/

.about-colum1 {
    padding-top: 20px;
    padding-bottom: 10px;
    display: auto;
    vertical-align: middle;
    padding-left: 24px;
    font-weight: normal;
    color: rgba(250, 250, 250, 0.95)!important;
    
}
.about-colum2 {
    padding-top: 20px;
    padding-bottom: 10px;
    display: auto;
    margin: auto;
    vertical-align: middle;
    padding-left: 10px;
    font-weight: normal;
    color: rgba(250, 250, 250, 0.95)!important;
    padding-right: 24px;

}


                /*Portfolio*/

.container-portfolio {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.text-block-portfolio {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color:black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

                /*Studio*/

.studio-colum1 {
    padding-top: 20px;
    padding-bottom: 10px;
    display: auto;
    margin: auto;
    vertical-align: middle;
    padding-left: 24px;
    font-weight: normal;
    color: rgba(250, 250, 250, 0.95)!important;
}
.studio-colum2 {
    padding-top: 20px;
    padding-bottom: 10px;
    display: auto;
    margin: auto;
    vertical-align: middle;
    padding-left: 10px;
    font-weight: normal;
    color: rgba(250, 250, 250, 0.95)!important;
    font-size: 14px;
    padding-right: 24px;
}
                /*Service*/

.service-colum1 {
    padding-top: 20px;
    padding-bottom: 10px;
    display: auto;
    margin: auto;
    vertical-align: middle;
    padding-left: 24px;
    font-weight: normal;
    color: rgba(250, 250, 250, 0.95)!important;
}
.service-colum2 {
    padding-top: 0px;
    padding-bottom: 0px;
    display: auto;
    margin: auto;
    vertical-align: middle;
    padding-left: 0px;
    font-size: 14px;
    color: rgba(250, 250, 250, 0.95);
    background-color: rgba(0, 0, 0, 0.40);
    padding-right: 24px;
    font-family: 'Ubuntu', sans-serif;
}

.table-sm tr td:nth-child(2) {
    width: 100%;
    margin-right: 0px;
    padding-top: 4px;
    padding: px 2px; 
}

                /*Contact*/

.contact-colum1 {
    width: 50%;
    height: 80%;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    padding-left: 30px;
    font-weight: normal;
    color: rgba(250, 250, 250, 0.95)!important;
    font-size: 14px;
}
.btn-primary {
    margin-left: 20px;
    align-items: right;
    flood-color: rgba(145, 144, 142, 0.38);
}
.form-text {
    font-size: 12px;
}
.contact-colum2 {
    padding-top: 20px;
    padding-bottom: 10px;
    display: auto;
    margin: 0px;
    padding-left: 10px;
    color: rgba(250, 250, 250, 0.95)
}
.button, select {
    text-transform: small;
}


                /* Footer */

.footer {
    width: 100%;
    height: 450px;
    padding-top: 8px;
    padding-bottom: 3px;
    background-color: rgba(0, 0, 0, 0.95)!important;
    color: rgba(250, 249, 249, 0.8)!important;
}
.footer-address {
    padding: center;
    text-align: center;
    padding-top: 8px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 3px;
    font-size: 14px;
}
.contact {
    font-size: 15px;
    color: rgba(250, 250, 250, 0.9);
    padding: center;
    text-align: center;
    padding-top: 8px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 3px;
}
.social-links {
    padding-top: 20px;
    padding-bottom: 8px;
    margin-right: 0px;
    text-align: center;
}
.social-links li a i {
    width: 25px;
    height: 25px;
    padding: 0px 0px 0px 0px;
    border-radius: 40%;
    font-size: 25px;
    line-height: 3px 3px;
    text-align: center;
    color: #fbfbfb;
    background-color: rgba(248, 227, 108, 0.18);

    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4 ease-in-out;
    -o-transition: all 0.4 ease-in-out;
}
.copyright {
    width: 100%;
    height: 25px;
    text-align: center;
}




